body
		{	margin:0 auto;
			height:100%;
			width:auto;
			font-family: 'Audiowide', cursive;
}

.jumbotron{
    background-image: url("gadgets.jpg");
    height:800px;
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: 0 0;

}

.navvy{
	color:#fff;
	width:100%;
	background:transparent;
	text-shadow: 0 0 10px white;

}


.jumboMessage{
margin-left:10px;
margin-top:550px;
padding-top:25px;
padding-left:10px;
width:400px;
height:100px;
background-color:#0094E3;
color:#fff;

  text-shadow: 0 0 10px white;

}
.container{
	width:100%;
    background-color:#F2F2F2;
    margin-top:-30px;
    border:30px solid #D4D6D6;

}
.products{
    width:100%;
    margin:auto;
    background-color:#fff;
    margin-top:100px;
    text-align:center;
}


.list{
	opacity:0;
	padding:20px;
	border:8px solid #6E6E6E;
	margin:auto;

}


.abc{
	display:flex;
}

.abc h1 {
  flex-grow: 1;
  text-shadow: 0 0 3px black;

}

.btn-primary{
	background-color:black;
}
#meh {
  display: flex;
}
.ok {
  display: flex;
  flex-direction: column;
}

ul {

display: flex;
flex-wrap: wrap;
margin-left:-20px;
}



li {
    display:flex;
    width:25%;
    height:55%;
    margin-top:20px;
    margin-bottom:20px;
    
}

.product-card{
	display:flex;
	width:100%;
}

li:nth-child(9), 
li:nth-child(10),
li:nth-child(11){
  flex: 1 33%;
}

.prodPrice p{
	margin-left:50%;
	margin-right:50%;
	margin-top:10px;
	font-size:20px;
	color:#6E6E6E;
	  text-shadow: 0 0 1px #6E6E6E;


}


@media (max-width: 920px) {
	li{
		flex:1 33%;
	}
	
	ul{
		margin:0 auto;
	}
	

	
}



@media (max-width: 720px) {
  li {
    flex: 1 46%;
  }
  
  ul{
  	margin:0 auto;
  }
  
  
  
  .products{
  	margin:0 auto;
  	width:95%;
  }
}



@media (max-width: 600px) {
  li {
    flex: 1 94%;
  }
  li:nth-child(9), 
li:nth-child(10),
li:nth-child(11){
  flex: 1 94%;
}
 
  .abc{
  	flex-direction:column;
  	margin:0 auto;
  }
  #meh{
  margin:0 auto;
  }
  
  .jumbotron{
  	width:700px;
  }
  
  .products{
  	margin-top:35px;
  }
}


 
		.backdrop
		{
			position:absolute;
			top:0;
			left:0px;
			width:100%;
			height:400%;
			background:#000;
			opacity: .0;
			filter:alpha(opacity=0);
			z-index:50;
			display:none;
		}
 
 
		.box
		{
			position:fixed;
			top:10%;
			left:30%;
			width:600px;
			height:600px;
			background:#ffffff;
			z-index:51;
			padding:10px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow:0px 0px 5px #444444;
			-webkit-box-shadow:0px 0px 5px #444444;
			box-shadow:0px 0px 5px #444444;
			display:none;
		}
 
		.close
		{
			float:right;
			margin-right:6px;
			cursor:pointer;
		}